.banner{
    width: 100%;
    height: 500px;
    position: relative;

    img{
        width: 100%;
        height: 100%;
    }

    .banner-sentence-container{
        position: absolute;
        top: 50%;
        left: 10%;
        transform: translateY(-50%);

        .banner-sentence{
            margin:0;
            line-height: 1;
            font-weight: bold;
            font-size: 3rem;
        }

        .button-banner{
            margin-top:8px;
        }
    }
}

.hero{
    display: flex;
    border-radius: 10px;
    gap:2rem;

    .introduction{
        flex: 0.8;
        display: flex;
        flex-direction: column;
        padding: 10px;
        justify-content: center;
        background-color: var(--background-boxs);
        padding:1rem;
        border-radius:10px;

        .title-hero{
            font-size: 4rem;
        }

        p{
            font-size: 1.5rem;
        }
    }

    .carousel-inner{
        height: 450px;

        .carousel-item{
            transition: 0.6s ease;
        }
    }
    .img-negocio{
        flex: 1;

        img{
            height: 450px;
            width: 100%;
            border-radius: 10px;
            
        }
    }
}

.feature-container{
    display: flex;
    justify-content: center;
    border: 1px solid rgb(0, 0, 0,.1);
    border-radius: 10px;
    padding:2rem;
    

    .feature{
        flex:1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-basis: 300px;
        height: 200px;
        padding: 20px;
        gap: 10px;

        &.borderr{
            border-left: 1px solid rgb(0, 0, 0,.1);
        }

        .icon{
            font-size: 2rem;
        }

        p{
            font-size: 20px;
            margin-bottom: 0;
            text-align: center;
        }
    }
}

@media (width < 768px){
    .banner{
        height: 300px;

        .banner-sentence{
            font-size: 12px;
        }
    }

    .hero{
        display:flex;
        flex-direction: column;
    }
}

@media (width < 640px){
    .banner{
        .banner-sentence-container{
            .banner-sentence{
                font-size: 1rem;


            }
        }
    }

    .feature-container{
        display: flex;
        flex-direction: column;

        .feature.borderr{
            border-top :1px solid rgb(0, 0, 0,0.1);
            border-left: none;
        }
    }
    .hero{
    .introduction{
        .title-hero{
            font-size: 1.7rem;
        }
        p{
            font-size: 1rem;
        }
    }
    .carousel-inner{
        height: 300px;

        img{
            height: 300px;
        }
}
}
}

@media (width < 960px){
    .hero{
        .introduction{
            .title-hero{
                font-size: 2.3rem;
            }
            p{
                font-size: 1.5rem;
            }
        }
    }
}
