* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    margin: 0 auto;
}

:root {
    --primary-color: #0F172A;
    --accent-color: #FF6B35;
    --accent-hover: #E55A25;
    --background-principal: #FFFFFF;
    --header-footer-color: #333333;
    --background-boxs: rgb(168, 168, 168, 0.2);
}

.main-container {
    flex: 1;
    max-width: 1200px;
    margin: 0 auto;
}


.logo {
    height: 80px;
    width: 150px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.header {
    background-color: var(--header-footer-color);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar {
    display: flex;
    font-weight: 600;
    font-size: 1.1rem;

    .nav-link {
        color: white;
    }
}

.nav-separar {
    display: flex;
    justify-content: space-between;

    .navbar-nav {
        gap: 15px;
    }

    .user {
        display: flex;
        gap: 20px;
        align-items: center;

        .iconos {
            display: flex;
            gap: 10px;
        }
    }
}

.botones {
    display: flex;
    gap: 10px;
}

.background {
    border-radius: 10px;
    background-color: var(--accent-color);
    padding: 3px 8px;
    color: var(--secundary-background);
    border: none;

    .icon-plus {
        font-size: 1rem;
    }

    &:hover {
        background-color: var(--accent-hover);
        color: var(--background-principal);
        transition: 0.4s ease;
    }
}

.outline {
    border-radius: 10px;
    border: 2px solid var(--background-principal);
    padding: 3px 8px;

    &:hover {
        background-color: var(--background-principal);
        color: #000;
        transition: 0.4s ease;
    }
}

span {
    color: var(--accent-color);
}

.product-container {
    display: flex;
    flex-direction: column;
}

.products {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;


    .card {
        display: flex;
        flex-direction: column;
        flex: 1 0 250px;
        border: none;
        border-radius: 5px;

        .card-header {
            border: 5px;
            padding: 0;
            position: relative;

            &:hover {
                .ver-mas {
                    opacity: 0.9;
                    visibility: visible;
                }
            }

            .ver-mas {
                color: var(--background-principal);
                padding: 8px;
                transition: 0.5s ease;
                font-weight: 600;
                border-radius: 5px;
                background-color: var(--header-footer-color);
                width: 40%;
                text-align: center;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                opacity: 0;
                visibility: hidden;

                &:hover {
                    background-color: var(--accent-color);
                    color: var(--background-principal);
                    border-radius: 5px;
                    cursor: pointer;
                }

                a {
                    color: var(--background-principal);
                }
            }

            img {
                width: 100%;
                height: 200px;
                object-fit: cover;
                overflow: hidden;
            }
        }

        .card-body {
            display: flex;
            flex-direction: column;
            gap: 4px;

            .card-title {
                font-size: 1rem;
            }

            .category {
                font-size: 0.75rem;
                margin: 0;
                flex: 1;
                display: flex;
                align-items: end;
            }

            .price-buy {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .precio {
                    margin: 0;
                    font-weight: 600;
                }

                .buy {
                    border: none;
                    background-color: var(--accent-color);
                    padding: 4px;
                    border-radius: 4px;
                    color: #fff;
                    font-weight: 600;
                }
            }
        }
    }
}

.contact-container{
    flex: 1;
}

.wrapper{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-container {
    display: flex;
    padding: 1rem;
    background-color: var(--header-footer-color);
    color: #fff;

    .social-media {
        display: flex;
        flex-direction: column;

        .social-list {
            display: flex;
            flex-direction: column;
            padding: 0;
            margin: 0;
            margin-top: 5px;
            flex-direction: column;
            height: 100%;
            gap: 1rem;

            a {
                color: var(--background-color);
            }
        }
    }
}


ul {
    list-style: none;
}

.price {
    font-weight: 600;
}


/* Page contact */
.contact-wrapper {
    width: 70%;
}

.form-map-container {
    display: flex;
    padding: 20px;
    gap: 30px;

    .form-container {
        flex: 1;
    }

    .formulario {
        display: flex;
        flex-direction: column;
        gap: 10px;
        border-radius: 5px;
        padding: 10px;
        background-color: var(--header-footer-color);
        color: var(--background-principal);

        .inputs {
            display: flex;
            flex-direction: column;

            input,
            textarea {
                padding: 5px;
                background-color: #dddddd;
                font-family: sans-serif;
                border-radius: 5px;
                border: none;
            }

            .background {
                border-radius: 5px;
            }
        }
    }

    .map-shop {
        flex: 1.5;

        iframe {
            width: 100%;
            height: 100%;
            border-radius: 5px;
        }
    }
}

.products-category-container {
    display: flex;
    gap: 20px;
    padding: 1rem;
    justify-content: center;

    .category-section {
        flex: 1;
        text-align: center;

        .category-container {
            padding: 1rem 10px;
            border-radius: 5px;
            color: var(--primary-color);
        }

        .category-title {
            font-size: 20px;
            text-transform: uppercase;
            font-weight: bold;
        }

        .category-list {
            display: flex;
            flex-direction: column;
            margin: 0;
            padding: 0;
            gap: 10px;
            border-bottom: 2px solid var(--header-footer-color);
            padding: 1rem 0;
            border-top: 2px solid var(--header-footer-color);

            .category-link {
                color: var(--background-principal);
                transition: 0.5s ease;
                padding: 8px;
                font-weight: 600;
                border-radius: 5px;
                background-color: var(--header-footer-color);

                &:hover {
                    background-color: var(--accent-color);
                    color: var(--background-principal);
                    border-radius: 5px;
                }
            }
        }
    }

    .product-section {
        flex: 3;

        .products {
            justify-content: start;

            .card {
                flex: 0 0 250px;
            }
        }
    }
}

@media (width < 960px){
.nav-separar{
    align-items: start;

        .botones{
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: end;
        }
        .user{
            display: flex;
            flex-direction: column;

            .iconos{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }

    .products{
        .card{
            flex: 0 0 250px;
        }
    }
}
}

@media (width < 768px){

    .form-map-container{
        flex-direction: column;
    }
    .footer-container{
        flex-direction: column;
        align-items: center;
        gap:3rem;

        .social-media{
            align-items: start;
        }
    }

}

@media (width < 640px){
    .products-category-container{
        flex-direction: column;

        .product-section{
            .products{
                justify-content: center;
            }
        }
    }

    .products{
        .card{
            flex: 1 0 200px
        }
    }
}


